[submodule "Pymacs"]
	path = Pymacs
	url = https://github.com/pinard/Pymacs.git
[submodule "ropemacs"]
	path = ropemacs
	url = https://github.com/mzc/ropemacs.git
[submodule "jslint-v8"]
	path = jslint-v8
	url = https://github.com/valeryz/jslint-v8.git
